.list-header {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.new-employee-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-top :-2px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f6f6f6
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
}

.action-btn {
  background: none;
  border: 1px solid #3498db;
  color: #3498db;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}


.qualifications-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.qualification-tag {
  background-color: #3498db;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
}
